<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Strona główna</h2>
        <p>Aplikacja jest skierowana do operowaniu, chronieniu i demonstrowaniu aktualnych danych o twoim komputerze.
        </p>


    </main>
    <%- include('./fragments/footer.ejs') %>