<%- include('../../fragments/header.ejs')%>
<main>
    <h1>Nowy element komputerowy</h1>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="nazwa">Nazwa:<abbr title="required" aria-label="required"
                class="errors-text">*</abbr></abbr></label>
        <input type="text" name="nazwa" id="nazwa" />
        <span id="errorNazwa" class="errors-text"></span>

        <label for="opis">Opis:<abbr title="required" aria-label="required">*</abbr></abbr></label>
        <textarea cols="40" rows="8" name="opis" id="opis"></textarea>
        <span id="errorOpis" class="errors-text"></span>

        <label for="foto">Foto:<abbr title="required" aria-label="required">*</abbr></abbr></label>
        <input type="file" name="foto" id="fotoInput" />
        <span id="errorFotoInput" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorSummary" class="errors-text"></p>
            <input type="submit" value="Dodaj" class="form-button-submit" />
            <a href="computer-element-list.html" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs')%>