<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="shortcut icon" href="../../images/logo.png" type="image/png" />
    <title>Stan twojego komputera</title>

</head>

<body>
    <header>
        <h1>Stan twojego komputera</h1>
        <img src="../../images/logo.png" alt="Stan twojego komputera logo">
    </header>
    <nav>
        <ul>
            <li><a href="../../index.html">Strona główna</a></li>
            <li><a href="computer-element-list.html" class="active">Elementy komputerza</a></li>
            <li><a href="../komputer/computer-list.html">Komputery</a></li>
            <li><a href="../zestaw_elementa_i_komputera/zestaw-elementow-komputera-list.html">Zestawy elementów
                    komputera</a></li>
        </ul>
    </nav>

    <main>
        <h1>Szczegóły elementu komputerowego</h1>
        <form class="form">
            <div class="form-group">
                <label for="nazwa">Nazwa:<abbr title="required" aria-label="required">*</abbr></abbr></label>
                <p>Gigabyte GeForce GTX 1660 SUPER OC 6GB GDDR6</p>
            </div>
            <div class="form-group">
                <label for="opis">Opis:<abbr title="required" aria-label="required">*</abbr></abbr></label>
                <p>
                    Przygotuj się na szybki i niezawodny gaming o wyjątkowych efektach graficznych, z nowymi
                    układami w architekturze NVIDIA Turing. Gigabyte GeForce GTX 1660 SUPER OC to fabrycznie
                    podkręcania konstrukcja wyposażona w 6GB pamięci GDDR6 oraz 192-bitowy interfejs pamięci.
                    Wydajne chłodzenie Windforce 2X zadba o optymalne temperatury, jednocześnie wyłączając się
                    podczas mniej obciążających GPU zadań. Całą konstrukcję dodatkowo usztywnia od spodu stylowy
                    backplate.

                    Sprawdź, jak Gigabyte GeForce GTX 1660 SUPER OC wygląda w rzeczywistości. Chwyć zdjęcie poniżej
                    i przeciągnij je w lewo lub prawo aby obrócić produkt lub skorzystaj z przycisków nawigacyjnych.
                </p>

            </div>
            <div class="form-group">
                <label for="foto">Foto:<abbr title="required" aria-label="required">*</abbr></abbr></label>
                <img src="https://cdn.x-kom.pl/i/setup/images/prod/big/product-new-big,,2019/10/pr_2019_10_25_13_53_0_788_06.jpg"
                    alt="foto Gigabyte GeForce GTX 1660 SUPER OC 6GB GDDR6.jpg" class="form-opis-foto">
            </div>
            <div class="form-buttons">
                <a href="computer-element-fill.html" class="list-actions-button-edit">Edytuj</a>
            </div>
        </form>
        <div>
            <h1>Szczegóły zestawa elementa i komputera</h1>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>
                            Model Komputera
                        </th>
                        <th>
                            Aktualna temperatura elementa w kopmputerze
                        </th>
                        <th>
                            Procent wykorzystanych komputerzem zasobów elementa
                        </th>
                        <th>
                            Aktualna szybkość przekazania dannych między elementem komputera a komputerą
                        </th>
                        <th>
                            Typ połączenia
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Jaguar 3000
                        </td>
                        <td>
                            56 stopni
                        </td>
                        <td>
                            15%
                        </td>
                        <td>
                            0.4 Mb/s
                        </td>
                        <td>
                            Przewodowa
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="computer-element-list.html" class="list-actions-button-details">Powrót</a>
        </div>
    </main>
    <footer>
        Vladyslav Domariev, S19314.
    </footer>
</body>

</html>