<%- include('../../fragments/header.ejs')%>

<main>
    <h2>Lista zestawów elementów komputera</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Model komputera</th>
                <th>Nazwa elementu</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jaguar 3000</td>
                <td>
                    Gigabyte GeForce GTX 1660 SUPER OC 6GB GDDR6
                </td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="zestaw-elementa-i-komputera-computer-szegoly.html"
                                class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="zestaw-elementa-i-komputera-computer-fill.html"
                                class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><a href="zestaw-elementa-i-komputera-computer-form.html" class="button-add">Dodaj nowy zestaw elementa i
            komputera</a></p>
</main>
<%- include('../../fragments/footer.ejs')%>