<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stan twojego komputera</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="shortcut icon" href="../../images/logo.png" type="image/png" />
</head>

<body>
    <header>
        <h1>Stan twojego komputera</h1>
        <img src="../../images/logo.png" alt="Stan twojego komputera logo">
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">Strona główna</a></li>
            <li><a href="/pages/element_komputera/computer-element-list.html">Elementy komputerza</a></li>
            <li><a href="/pages/komputer/computer-list.html">Komputery</a></li>
            <li><a href="/pages/zestaw_elementa_i_komputera/zestaw-elementow-komputera-list.html" class="active">Zestawy
                    elementów komputera</a></li>
        </ul>
    </nav>

    <main>
        <h2>Lista zestawów elementów komputera</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Model komputera</th>
                    <th>Nazwa elementu</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jaguar 3000</td>
                    <td>
                        Gigabyte GeForce GTX 1660 SUPER OC 6GB GDDR6
                    </td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="zestaw-elementa-i-komputera-computer-szegoly.html"
                                    class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="zestaw-elementa-i-komputera-computer-fill.html"
                                    class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><a href="zestaw-elementa-i-komputera-computer-form.html" class="button-add">Dodaj nowy zestaw elementa i
                komputera</a></p>
    </main>
    <footer>
        Vladyslav Domariev, S19314.
    </footer>
</body>

</html>