<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stan twojego komputera</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/png" />
</head>

<body>
    <header>
        <img src="images/logo.png" alt="Stan twojego komputera logo">
        <h1>Stan twojego komputera</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <li><a href="/element_komputera" class="<%= navLocation == 'elementKomputer' ? 'active' : ''%>">Elementy
                    komputerza</a></li>
            <li><a href="/komputers" class="<%= navLocation == 'komputer' ? 'active' : ''%>">Komputery</a></li>
            <li><a href=" /zestaw_elementa_i_komputera"
                    class="<%= navLocation == 'zestawElementaKomputera' ? 'active' : ''%>">Zestawy elementów
                    komputera</a></li>
        </ul>
    </nav>